/quesito1/quesito1/nbproject/private/
/quesito1/quesito1/build/
/quesito1/quesito1/dist/
/quesito2/nbproject/private/
/quesito3/nbproject/private/
/quesito3/build/
/quesito3/dist/
/quesito4/nbproject/private/
/quesito4/build/
/quesito4/dist/
/quesito2/dist/
/quesito2Atualizado/nbproject/private/
/quesito5/nbproject/private/
/quesito5/build/
/quesito5/dist/
/quesito2Atualizado/build/
/quesito2Atualizado/dist/
